/* Hero Section Styling */
.hero-section {
  background-color: #e8f5e9;
  height: 100vh;
  background-size: cover; /* Cover the entire section */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section h3 {
  color: #2e7d32;
}

.hero-section p {
  color: #555;
}

/* Hero Section Content */
.hero-content {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.5rem;
}

/* Promotional Cards */
.card {
  border: none;
  border-radius: 8px;
}

.bg-light-blue {
  background-color: #e3f2fd;
}

.bg-light-yellow {
  background-color: #fffde7;
}

.card h5 {
  font-weight: bold;
  color: #333;
}

.card p {
  color: #666;
}



/* hove effect to side form */

.sidebar {
  width: 250px;
  margin-right: 20px;
  margin-left:  20px
}

.category-item {
  text-align: left;
  font-weight: normal;
  color: #000;
}

.category-item:hover {
  color: green;
  font-weight: bold;
}

.arrow {
  float: right;
  font-size: 18px;
  color: black;
}

/* hover effect to AccountDropDown form */

.dropdown-item:hover {
  color: black;
  font-weight: bolder;
}
